.options-dialog-wrapper
  display grid
  grid-row-gap 1.25em

  .cache-wrapper
    align-items center
    display grid
    grid-column-gap 1em
    grid-template-columns auto auto
    justify-content space-between

  // Styles heavily influenced by Material UI buttons
  button
    background-color transparent
    border 1px solid var(--acnh-color-yellow-dull)
    border-radius 8px
    color inherit
    font-family inherit
    font-size 1em
    font-weight 500
    padding 8px 16px
    transition 150ms linear
    transition-property background-color, border-color

    &:hover
      background-color var(--bg-color-35)
      border-color var(--acnh-color-yellow)
