:root
  --acnh-color-brown #936826
  --acnh-color-yellow #f4c52f
  for num in (1..15)
    --background-color-{num * 5 + 10} hsl(45.7, 15%, num * 5 + 10)

*
  box-sizing border-box

body
  background-color var(--background-color-15)
  margin 0
  font-family Montserrat, sans-serif

#root
  background-color var(--background-color-20)
  // FIXME: border should only show >= max-width + 4
  border 1px solid var(--acnh-color-yellow)
  border-bottom none
  border-top none
  color var(--acnh-color-yellow)
  display grid
  grid-row-gap 0.5em
  grid-column-gap 2em
  grid-template-columns 1fr 2fr
  grid-template-rows auto auto 1fr
  justify-content center
  margin 0 auto
  max-width 750px
  min-height 100vh
  padding 1em

.sidebar
  align-content start
  display grid
  grid-row-gap 1em

.bingo-card
  --size calc(100vmin - 200px)
  align-self start
  border 1px solid black
  display grid
  grid-template-columns repeat(5, 1fr)
  grid-template-rows repeat(5, 1fr)

.cell
  --outline-width calc(1em / 3)
  border 1px solid #000
  cursor pointer
  outline var(--outline-width) solid transparent
  outline-offset calc(var(--outline-width) * -1)
  padding 0
  position relative
  transition 110ms ease-in-out
  transition-property background-color, outline

  &:focus
    outline-color #000
    z-index 1

    .cell-inner
      // TODO: Better gradient?
      background-image linear-gradient(to right, darkred, darkorange, gold, darkgreen, mediumblue, rebeccapurple) !important

  &.marked::after
    color #fff
    content '✖'
    font-size calc(var(--size) / 5 - 0.5em)
    left 50%
    position absolute
    text-shadow 0 0 8px #000
    top 50%
    transform translate(-50%, -50%)
    z-index 1

  img
    background-color transparent
    height auto
    margin 0 auto
    max-width 88px
    min-width 40px
    padding 0 0.25em
    width calc(var(--size) / 5)

  .name
    align-content center
    align-items stretch
    display grid
    font-weight bold
    padding 0.25em

.cell-inner
  display grid
  grid-template-rows 1fr auto
  min-height 100%
  text-align center

.controls
  display grid
  grid-row-gap 1em
  justify-content stretch

.cta-btn
  background-color var(--acnh-color-brown)
  border none
  border-radius 6px
  color var(--acnh-color-yellow)
  cursor pointer
  font-family inherit
  font-size 1.05em
  font-weight bold
  padding 0.25em 1em 0.375em

  &:disabled
    background-color #ccc
    color #999
    cursor not-allowed

  &:focus
    box-shadow 0 0 0 3px var(--acnh-color-yellow)
    outline none

label
  cursor pointer
  display inline-block
  margin-bottom 0.25em

[hidden]
  display none !important
