.combobox-wrapper
  position relative

.options-wrapper
  background-color var(--bg-color-35)
  border 1px solid var(--acnh-color-yellow)
  box-shadow 0 0 0 2.5px var(--acnh-color-yellow)
  max-height 150px
  overflow auto
  position absolute
  width 100%
  z-index 1

  .options-list
    list-style none
    margin 0
    padding 0

    .option
      cursor pointer
      padding 0.25em 0.5em

      &.selected
        align-items center
        background-color var(--acnh-color-yellow)
        color #000
        display grid
        font-weight bold
        grid-column-gap 0.25em
        grid-template-columns auto auto
        justify-content start

        &::after
          content '✔'

      &.highlighted
        background-color var(--acnh-color-yellow)
        color #000
        opacity 0.75

      &:hover
        background-color var(--acnh-color-yellow)
        color #000
        opacity 0.75

// Input styles (separated for ease of breaking out if Input needs to be reusable)
.input-wrapper
  align-items center
  background-color var(--bg-color-35)
  border 1px solid var(--acnh-color-yellow)
  border-radius 6px
  color #eee
  display grid
  grid-template-columns 1fr auto
  font-size 1em
  justify-content space-around
  padding 0.25em 0.375em 0.375em
  width 100%

  &.disabled {
    cursor not-allowed
    filter invert(0.25) brightness(0.75)
  }

  &:not(.disabled):focus-within
    box-shadow 0 0 0 2.5px var(--acnh-color-yellow)

  input
    background-color transparent
    border none
    color inherit
    font-size inherit

    &:focus
      outline none

    &:disabled
      cursor not-allowed

      &::placeholder
        color #fff

    &::placeholder
      color #ccc
      font-style italic
      letter-spacing 0.5px

  .clear-input
    background-color transparent
    border none
    border-radius 50%
    color inherit
    font-weight inherit
    height 20px
    padding 0 0 1px
    width 20px

    &:focus,
    &:hover
      background-color rgba(255, 255, 255, 0.15)
      outline none

// Chip styles (separated so they can be broken out if Chip needs to be reusable)
.chip-container
  padding 0.5em 0

.chip
  align-items center
  background-color var(--acnh-color-yellow)
  border none
  border-radius 20px
  color #000
  display inline-grid
  font-family inherit
  font-size inherit
  font-weight bold
  grid-auto-flow column
  grid-column-gap 3px
  margin 0 0.375em 0.375em 0
  padding 2px 0.625em 2px 0.5em

  button&
    transition opacity 80ms ease-in-out
    
    &:hover
      opacity 0.5

  button
    background-color transparent
    border none
    border-radius 50%
    font-size 0.625em
    font-weight inherit
    height 16px
    padding 0
    transition background-color 80ms ease-in-out
    width 16px

    &:focus,
    &:hover
      background-color rgba(0, 0, 0, 0.15)
      outline none
